html, body { height:auto;min-height:100%;}
body {
margin:0;
padding:0;
color: #222;
font-size: 13px;
background-size:cover;
background-repeat:no-repeat;
}

aside,main,nav,section{display:block}

/* STANDARD */
a {
text-decoration: none;
color: #999;
}
a:hover, a.button:hover {
color: #777;
text-decoration: underline !important;
cursor: pointer;
}

h1,h2{
font-weight:500;
font-family:'Tungsten Rounded A', 'Tungsten Rounded B';
}
h2 {
/*color:#fff;
background-color:#8ec36f;*/
padding:5px 10px;
text-align:center;
font-size:24px;
margin:.3em
}


#h, #n {
font-family:'Champion Lightwt A', 'Champion Lightwt B';
letter-spacing:1px;
}


#c {
display:flex;
flex-direction:column;
width:1024px;
max-width:100%;
min-height:100%;
margin:0 auto;
background-color:#fff
}
#h {
margin: 0;
display: flex;
align-items:center
}
#h_h1 {
padding: 10px 0;
font-size:62px;
color: #0054A6;
text-align:center;
flex:1
}
.h-logo {
display:inline-block;
width:200px;
max-width:20vw;
padding:10px;
}
#social {
display:flex;
justify-content:center;
align-items:center;
height:50px;
margin:35px
}
#social > * {
margin:0 10px;
}
#n {
display:flex;
justify-content:center
}
#n a {
font-size:32px;
text-decoration:none;
padding:.2em .4em;
text-align:center
}
#n a:hover {
text-decoration:underline;
}
#n[data-key='home'] #link-home,
#n[data-key='take-the-pledge'] #link-take-the-pledge {
color: #666;
}
#m {
flex:1;
}
#f {
width:50%;
margin:25px auto;
}

#content {
padding:20px 12px;
font-family: 'Archer SSm A', 'Archer SSm B';
font-size:16px;
margin:10px;
border-style: solid;
border-width:1px 0;
border-color:#ddd
}
#content a {color:#8ec36f}

#link-donate {
background-color:#8ec36f;
color:#fff;
margin-left:.4em
}

hr {
border: 0;
width: 100%;
}
iframe, img {
border: 0;
}
blockquote {
margin: 0 5px;
padding: 25px 45px;
}
code {
font-family: Consolas, monospace;
font-size: 10px;
display:inline;
}


.description {font-size:13px;line-height:1em;margin:4px 0 2px;text-align:left}
.hide {display: none;}
.b{font-weight:bold}
.ib {display:inline-block;}
.tac{text-align:center}
.form {/*font-family:'Whitney A','Whitney B';*/width:300px;max-width:100%}
.error {font-size:13px;color:#9b0034;margin-bottom:1em}

.blue {
color: #0054A6;
}

input[type=text], input[type=password], input[type=email], textarea {border-width:0 0 1px;border-style:solid;border-color:#999;width:100%;padding:5px;font-family:inherit;font-size:1em}
input[type=text].narrow,input[type=password].narrow,input[type=email].narrow {width:30%}
input[type=button],input[type=submit] {height:30px;vertical-align:bottom;margin-left:.2em;background-color:#0054A6;color:#fff;font-family:inherit;border:0;font-size:1em;cursor:pointer}
input.error, textarea.error {
border-color:#9b0034;
}
label[for] {vertical-align:top;}
select {max-width:100%;min-width:33%;border:1px solid #999;vertical-align:middle;padding:3px 2px;font-family:inherit}
select.small {height:24px;max-width:125px;min-width:32px;padding:1px;}
option {max-width:500px;padding:2px 5px;font-size:12px;}
textarea {border:1px solid #999;padding:5px;font-size:13px}

#twitter-widget-0.twitter-timeline {width:100% !important;max-width:700px !important;}
.twitter-tweet{margin:10px auto !important;}
.fb_iframe_widget{display:block !important}

@media (orientation : portrait), (max-height:1920px) {
	body{
		background-image:url('../image/bgp1366');
	}
}
@media (orientation : portrait), (min-height:1920px) {
	body{
		background-image:url('../image/bgp1920');
	}
}
@media (min-width: 2560px) {
	body{
	background-image:url('../image/bg2560');
	}
}
@media (min-width: 1920px) {
	body{
	background-image:url('../image/bg1920');
	}
}
@media (max-width: 1920px) {
	body{
	background-image:url('../image/bg1366');
	}
}